*{
  margin: 0;
  padding: 0;
}

.content {
  display: none;
}

#div {
  width: 100%;
  height: 100%;
  text-align: center;
}

#imagem {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  animation: unblur 3s alternate;
  height: 100%;
}

#imagem img {
  max-width: 100%;
  height: auto;
}

#titulosubtitulo {
  margin:  20% 0 0 0;
  animation: animate 3.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes unblur {
  0% {
    filter: blur(4px)
  }

  100% {
    filter: blur(0)
  }
}

@media screen and (max-width: 1300px) {
  #imagem img {
    height: 100%;
  }

  #imagem img {
    width: 100%;
    position: 20%;
  }
}

@media screen and (max-width: 700px) {
  #titulosubtitulo {
    margin-top: 50%;
  }

  #titulosubtitulo img {
    width: 80%;
  }
}
